.Button {
    color: var(--font-color-primary);
    background: var(--bg-color-primary);
    border: 2px solid var(--bg-color-accent);
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
        color: var(--font-color-accent);
        background: var(--bg-color-secondary);
    }
}

.small {
    font-size: var(--font-size-s);
}

.medium {
    font-size: var(--font-size-m);
}

.large {
    font-size: var(--font-size-l);
}
