.Sidebar {
    position: relative;
    //height: calc(100vh - var(--navbar-height));
    padding: 8px 8px 8px 18px;
    background: var(--bg-color-primary);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 220px;
    transition: width 700ms ease;
}

.collapse_btn {
    cursor: pointer;
    position: absolute;
    //top: calc(50% - 15px);
    top: 50vh;
    right: -15px;
    padding: 3px;
    border-radius: 8px;
    background: var(--bg-color-secondary);
    &:hover {
        background-color: var(--bg-color-accent);
    }
}
.collapsed {
    width: 70px;
}

.ItemsList {
    display: flex;
    flex-direction: column;
}
