.dark_theme {
    --font-color-primary: #F4FAFB;
    --font-color-secondary: #1c4e57;
    --font-color-accent: #133A29;
    --bg-color-primary: #1c4e57;
    --bg-color-secondary: #F4FAFB;
    --bg-color-accent: #133A29;

}
