.normal_theme {
    --font-color-primary: #FBF7F4;
    --font-color-secondary: #da884c;
    --font-color-accent: #D4392B;
    --bg-color-primary: #da884c;
    --bg-color-secondary: #FBF7F4;
    --bg-color-accent: #D4392B;

}
