.Navbar {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
    height: var(--navbar-height);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


