.SearchBox {
    position: relative;
    font: var(--font-m);
    z-index: 10000;
    margin-left: auto;
}

.input {
    background: var(--bg-color-primary);
    color: var(--font-color-primary);
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    width: 190px;
}

.options {
    position: absolute;
    background: var(--bg-color-primary);
    border: 1px solid var(--font-color-primary);
    max-height: 400px;
    overflow: clip;
}

.item {
    list-style: none;
    width: 190px;
    margin: 5px 0;
    cursor: pointer;
    padding: 0 10px;
    &:hover {
        color: var(--font-color-accent);
    }
}
