.MoviesSelection {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 100%;
}

.title {
    margin: 2rem 0;
    text-align: center;

}

.container {

}

.section {
    padding: 0 30px;
}
